/* DROPDOWN: ; */
.dropdown-scrollable {
    border-radius: 0;
    width: 100%;
}
.dropdown-scrollable button {
    border-radius: 0;
    width: 100%;
}
.dropdown-scrollable input.form-control {
    border-radius: 0;
    margin: 10px; 
    width: 93%;
    box-sizing: border-box;
}
.dropdown-scrollable .dropdown-menu {
    height: auto;
    max-height: 200px;
    min-height: 200px;
    overflow-x: hidden;
    border-radius: 0;
    min-width: 17rem;
}